@import "tailwindcss";
@custom-variant hover (&:hover);



:root {

}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
@layer utilities {
  /* bet5als ba3d 3s ba3deha tebda2 tany ba3d 20 */
  @keyframes type-hold {
    0% {
      width: 0;
    }
    13% {
      width: var(--n, 30ch);
    } 
    99.9% {
      width: var(--n, 20ch);
    } 
    100% {
      width: 0;
    } 
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes pulse-moderate {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.75;
    } 
  }

  .animate-enter-pulse-3_5s {
    opacity: 0; 
    animation: fade-in 0.6s ease 2s both,
        pulse-moderate 2s cubic-bezier(0.4, 0, 0.6, 1) 4.1s
        infinite; 
  }
}

.entrybutton{

}